# Banco de dados (PostgreSQL)
DATABASE_URL="postgresql://usuario:senha@localhost:5432/vdvcar"

# Chave secreta para JWT (gere uma string aleatória longa)
JWT_SECRET="sua-chave-secreta-muito-longa-e-segura-aqui-min-32-chars"

# URL base da aplicação
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# WhatsApp da empresa
NEXT_PUBLIC_WHATSAPP="5583988407953"
